<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>

<style>
    body{
    background: url(https://psv4.userapi.com/c848128/u142872896/docs/d4/fe45d058ab68/train0.jpg?extra=Hw4Ia2U945MEanFmInf3fbHObuy1wRh3mzEqCjICxUe7hH4IJifiT1ubkUicTrMN7N0IbOypCCuVdw2VCnheUevBUO1krVxIZmK6J6WLc7NgYs1tbjY987W-aThFEwWiS0slysWYspk7gvOtOZld);
    background-size: 100%;
}
p {
line-height: 1.5;
    font-size: 14pt; /* Размер шрифта в пунктах */
   }
   td {
line-height: 1.5;
    font-size: 14pt; /* Размер шрифта в пунктах */
   }
</style>

<nav background="train0.jpg">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:8000">Расписание СПб</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <ul class="navbar-nav mr-auto">
       <span class="navbar-text">
      Вокзалы:
    </span>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ladozh' %}">Ладожский</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mosk' %}">Московский</a>
      </li>
    </ul>

    {% if user.login == null  %}
        <a href="{% url 'vhod' %}"> <button class="btn btn-outline-success mr-sm-2" onclick = location.href="http://127.0.0.1:8000/vhod" >Вход</button></a>
        <button class="btn btn-outline-success my-2 my-sm-0" onclick = location.href="http://127.0.0.1:8000/registr" >Регистрация</button>
    {% endif %}
    {% if user.login != null  %}
    {% if user.status == "admin"  %}
    <button class="btn btn-outline-default my-2 my-sm-0" onclick = location.href="http://127.0.0.1:8000/polz" >{{user.name}}  {{user.surname}}</button>
    {% else %}
    <span class="navbar-text"> {{user.name}}  {{user.surname}}    </span>
    {% endif %}
     <form><input type="submit" class="btn btn-outline-success my-2 my-sm-0" name="exit" value="Выход"></form>

    {% endif %}

</nav>



<nav class="navbar navbar-light" style="background-color: #e3f2fd;opacity: 0.9;margin-top:100px;
    margin-left: 100px;
    margin-right: 500px;
    padding: 20px;">
  <!--<span class="navbar-text"style="color: #0000;opacity: 0.5;">-->
    <font  color="black"> <h2>РАСПИСАНИЕ ПОЕЗДОВ В САНКТ-ПЕТЕРБУРГЕ</h2><br/>

  <p class="text-justify" >  Ниже вы найдете актуальное расписание поездов, отправляющихся и прибывающих на вокзалы Санкт-Петербурга.<br/><br/>

      В расписании указано местное время прибытия и отправления поездов. Табло железнодорожного вокзала обновляется автоматически и содержит информацию об отправляющихся и прибывающих поездах по всем направлениям вокзалов Санкт-Петербурга.
     </p></font>
          <!--</span>-->
</nav>
<nav class="navbar navbar-light" style="background-color: #c5d0e6;opacity: 0.9;margin-top:10px;
    margin-left: 100px;
    margin-right: 500px;
    padding: 0px;">
<p class="text-justify" > <button class="btn btn-default btn-lg" style="background-color: #c5d0e6;margin-top:10px;opacity: 0.9;"><font color="black">Вокзалы:</font></button>
<a href="{% url 'ladozh' %}"><button class="btn btn-outline-secondary btn-lg" style="background-color: #c5d0e6;margin-top:10px;opacity: 0.9;"><font color="black">Ладожский</font></button></a>
<a href="{% url 'mosk' %}"><button class="btn btn-outline-secondary btn-lg" style="background-color: #c5d0e6;margin-top:10px;margin-left: 10px;opacity: 0.9;"><font color="black">Московский</font></button></a>
</p>
</nav>
</nav>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>